# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Nx
.nx/cache
.nx/workspace-data

# Test / coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local
infra/deploy/.env.prod

# OS / editor
.DS_Store
Thumbs.db
.idea/
*.swp

# Temp
tmp/
.cursor/
notes
postman